body {
  font-family: sans-serif;
  background-color: #c0f0f0;
}

form {
  background-color: #40e0d0;
  padding: 20px;
  border-radius: 5px;
  width: 450px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  color: #fff;
}

label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-bottom: 10px;
}

input[type="radio"] {
  margin-right: 5px;
}

.radio-group {
  margin-bottom: 10px;
}

button {
  background-color: #008CBA;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #007095;
}

.erro {
  color: red;
  font-size: 12px;
  font-weight: bold;
  display: block;
  margin-top: 5px;
  background-color: #ffecec;
  padding: 5px;
  border-radius: 3px;
}